<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" preserve-order="true">
        <classes>
            <class name="TestSuite.Tests">
                <methods>
                    <include name="validatePageURL_Test"/>
                    <include name="addNewComputerRecord"/>
                    <include name="validateNewComputerRecord"/>
                    <include name="updateComputerRecord"/>
                    <include name="deleteNewComputerRecord"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
